body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; 
  font-size: 12pt;
  font-weight: 400;
  }
body input:required:valid,
body textarea:required:valid {
  color: green;
  font-size: 12pt;
  font-weight: 400; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }
  section h3,
  .main_head h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 35px; }

section {
  padding: 10px 0 16px; 

}
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px;
    letter-spacing: 1px; 
  }
  section .personal_header {
    font-size: 13px;
    text-align: left;
    margin-bottom: 30px;
    color: #555; }


.owl-carousel{
  background-size: 100%;
  /*background-color: #fff;
  width: 1000px;
  

  
  margin-left: 30px;

  background: #000000; */
}

.s_descr_wrap {
  text-align: center; }
  .s_descr_wrap .s_descr {
    display: inline-block;
    text-transform: none;
    font-size: 130%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: 200; }
    
.main_head {
  min-height: 480px;
  padding-top: 20px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.logo_container {
  float: left;
   }

/*.logo_container {
  float: left;
  background-image: url("BackBlack.jpg");
  opacity: 0.434;
   }
   .logo_container h1 {
   
  font-size: 23px;
  font-family: "Optimal";
  color: rgb( 254, 254, 254 );
  text-align: left;
  text-shadow: 4px 6.928px 8px rgb( 0, 0, 0 );
  -moz-transform: scale(1, 1.03);
  -webkit-transform: scale(1, 1.03);
  -ms-transform: scale(1, 1.03);
  position: inherit;
  z-index: 95;
}
*/
svg {
  height: 60px;
  width: 60px;
   z-index: 0; /* z=1*/
  position: relative; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 100;
  border: none;
  right: 20px;
  top: 20px; }
  .toggle_mnu span {
    display: block; }

.sandwich {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 28px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          transition: transform 0.5s, top 0.2s;
  display: block; }

svg path {
  fill: #e0e0e0; }

.sw-bottom {
  position: relative;
  width: 28px;
  height: 3px;
  top: 6.6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          transition: transform 0.5s, top 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 28px;
  height: 3px;
  top: 13.5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 9px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
  top: 6px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 50;
  right: 0;
  top: 0;
  display: none; }
  .top_mnu ul,
  .top_mnu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .top_mnu ul {
    margin-top: 180px;
    text-align: center;
    -webkit-animation-duration: 0.01s;
    animation-duration: 0.01s; }
    .top_mnu ul li:nth-child(1) a {
      -webkit-animation-delay: 0;
      animation-delay: 0; }
    .top_mnu ul li:nth-child(2) a {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    .top_mnu ul li:nth-child(3) a {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .top_mnu ul li:nth-child(4) a {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .top_mnu ul a {
      color: #fff;
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      opacity: 0;
      position: relative;
      height: 60px;
      outline: none; }
      .top_mnu ul a span {
        display: block;
        position: relative;
        top: -40px;
        left: 0;
        height: 100%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .top_mnu ul a span:hover {
          background-color: rgba(255, 255, 255, 0.08); }


          .s_about {
            margin-top: 0;
            background: #FFFFFF;

            background: linear-gradient(to bottom, #FFF, #222);

          }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  .top_wrapper .top_text {
    display: inline-block;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
    .top_wrapper .top_text p {
      margin: 0;
      text-transform: uppercase;
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
    .top_wrapper .top_text h1 {
      display: inline-block;
      padding: 10px 35px;
      color: #fff;
      border: 1px solid #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2.8em;
      

      margin-left: 20px;
      margin-right: 20px;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }

      .top_wrapper .top_centered h2 {
        padding-top: 20px;
        font-weight: 100;
        background-color: #000;
        opacity: 0.6;
        font-size: 12pt;
        box-shadow: 2.5px 4.33px 5px 0px rgb( 0, 0, 0 ); 
        text-shadow: 1px 1px 2px black ;
        letter-spacing: 4px;
        margin-top: 130px;

      }

.toggle_mnu {
  background-color: #000; }

.main_footer {
  padding: 50px 0;
  font-size: 13px;
  font-weight: 300; }
  .main_footer .social_wrap {
    float: right;
    line-height: 0; }
    .main_footer .social_wrap ul {
      margin: 0; }


.section_content {
  padding-top: 30px;
}

.BackMain {

  padding-left: 200px;
  background-color: rgb( 0, 0, 0 );
  opacity: 0.78;
  box-shadow: 2.5px 4.33px 5px 0px rgb( 0, 0, 0 );
  
  display: inline-block;
  left: 2px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: table-row;
  vertical-align: middle;

  
}
  
.TextAboutUs h5 {
   font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding-top: 20px;
  padding-right: 30px;
  display: table-cell;
  text-align: inherit;
  color: rgb( 254, 252, 252 );
  text-transform: uppercase;
  text-align: left;
  -moz-transform: scale(1, 1.03);
  -webkit-transform: scale(1, 1.03);
  -ms-transform: scale(1, 1.03);
  position:inherit;
  padding-left: 50px;
  
  left: 80px;
  top: 50px;
  z-index: 7;
}
  .TextAboutUs h6,h4 {
   font-size: 130%;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
  
    color: rgb( 254, 252, 252 );
    text-transform: inherit;
    text-align: left;
    -moz-transform: scale(1, 1.03);
    -webkit-transform: scale(1, 1.03);
    -ms-transform: scale(1, 1.03);
    
     max-width: inherit;
     padding-left: 50px;
     margin-right: 25px;
    margin-top: 24px;
     margin-bottom: 24px;
    z-index: 7;
    }
  .TextAboutUs a {
    color: white;
  }
 
 .TextAboutUs a:hover{

  color: #c2ee4c;
    -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;

 }
.TextAboutUs h2{
font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;

}



.person {
  text-align: center;
  margin-bottom: 35px;
  text-align: center;
  vertical-align: middle;
  display: inline-block; }
  .person img {
    max-width: 220px;
    
    border-radius: 50%; }

.s_about p {
  margin-bottom: 25px; }
.s_about ul,
.s_about li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.s_about li {
  margin-bottom: 10px; }
.s_about .social_wrap {

  margin-top: 25px; }

.social_wrap li {
  display: inline-block;
  font-size: 20px;
  padding: 0 3px; }

.resume_container .left .resume_description strong {
  margin-left: 10px; }
.resume_container .right .resume_description strong {
  margin-right: 10px; }
.resume_container .left {
  text-align: right;
  /*border-right: #d2d2d2 1px solid;*/ }
  .resume_container .left h3 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding-top: 10px; }
.resume_container .right {
  text-align: left;
   }
  .resume_container .right h3 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding-top: 10px; }
.resume_container h3 {
  margin-top: 10px;
  margin-bottom: -25px; }
.resume_container .year {
  font-weight: 600;
  font-style: italic;
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 15px; }
.resume_container strong {
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase; }
.resume_container .resume_description {
  font-style: italic; }
.resume_container .resume_item {
  margin-bottom: 40px; }
  .resume_container .resume_item p {
    margin-top: 10px; }
  .resume_container .resume_item:last-child {
    margin-bottom: 0; }
    .resume_container .resume_item:last-child p {
      margin-bottom: 0; }

.resume_icon {
  font-size: 40px;
  margin-bottom: 35px; }
  .resume_icon .year {
    display: inline-block;
    margin-bottom: 15px;
    padding: 0 10px; }


.TextSert h1{
 /* background-image: url("../img/Rectangle_1.png");
  background-size: contain;
  background-repeat: no-repeat;*/
font-size: 130%;
font-weight: 200;

}




.podrt_descr {
  background-color: #fff;
  max-width: 500px;
  margin: auto; }
  .podrt_descr p,
  .podrt_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .podrt_descr h3 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    padding-top: 25px; }
  .podrt_descr p {
    margin-top: 0; }
  .podrt_descr img {
    width: 100%;
    margin-top: 10px; }

.modal-box-content {
  position: relative; }

.contact_box {
  margin-bottom: 30px;
   }
  .contact_box h3 {
    text-align: left;
    color: #000;
    margin-bottom: 0px;
    font-size: 18px; }
  .contact_box .contacts_icon {
    font-size: 30px; }
  .contact_box p {
    margin-top: 5px; }

.main_form button {
  border: none;
  color: #fff;
  line-height: 40px;
  padding: 0 25px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  
  float: right; }

.form-group {
  display: block;
  margin-bottom: 20px; }
  .form-group .color_element {
    font-weight: 700;
    font-size: 18px; }
  .form-group .text-danger {
    font-size: 14px;
    margin-top: 29px;
    margin-bottom: -18px;
    
    display: block; }
    .form-group .text-danger ul,
    .form-group .text-danger li {
      margin: 0;
      padding: 0;
      list-style-type: none; }
  .form-group input,
  .form-group textarea {
    display: block;
    border-radius: 10px;
  background-color: rgb( 255, 255, 255 ) !important;
  box-shadow: 2.5px 4.33px 5px 0px rgb( 0, 0, 0 ); 

 
  position: relative;
  left: 0px;
  top: 10px;
  width:100%;
  height: 100%;
  
   
    /*  width: 432px;
  height: 48px;
    border: 1px solid #ccc;*/
    margin-top: 26px;
    line-height: 27px;
    text-indent: 13px;
    font-size: 15px;
    color: #000000;
    font-weight: 800;

     }





.ReciveBackBlack {
  
  
  border-radius: 30px;
  background-color: #999999;
  min-width: 170px;
  min-height: 600px;
  max-width: 504px;
  max-height: 764px;
  
  z-index: 1;
  box-shadow: 2.5px 4.33px 5px 0px rgb( 0, 0, 0 ); 

}

.placeholder{
  font-size: 12pt;
  color: #b3b3b3;
}

.form-group textarea  {

  padding-left:10px;
  max-height: 212px;
  min-height: 164px;
  font-weight: 800;
  max-width: 474px;
}

.social_wrap li{
  font-size: 22pt;
  font-weight: 200;
}

.contacts_adres span{
  color: #413b3a;
padding-left: 10px;
font-size: 16pt;
}
.contacts_phone span{
  color: #413b3a;
padding-left: 10px;
font-size: 16pt;
}
.contacts_mail span{
  color: #413b3a;
padding-left: 10px;
font-size: 16pt;
}
.contacts_adres i{
color: #413b3a;
font-size: 16pt;
}
.contacts_phone i{
color: #413b3a;
font-size: 16pt;
}
.contacts_mail i{
color: #413b3a;
font-size: 16pt;
}
.one img{
  border-radius: 30px;

}
.social_wrap i{
  font-size: 15pt;
}
